@import '../../style.scss';
.slider{
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(90vh - 50px);
    background: linear-gradient(rgba(104, 104, 158, 0.055),rgba(81, 81, 180, 0.021)),url('./../../img/hero-bg.png') no-repeat;
    background-position: center;
    @include laptop{
        height: calc(100vh - 50px);
    }
    @include mobileXR{
        height: calc(70vh - 50px);
    }
    @include mobileSE{
        height: calc(80vh - 50px);
    }
    .slider-container{
        width: 1025px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        @include laptop{
            width: 900px;
        }
        @include mobile{
            width: 400px;
            display: flex;
            flex-direction: column;
        }
        @include mobileXR{
            width: 370px;
            position: relative;
            overflow: hidden;
        }
        @include mobileSE{
            width: 345px;
        }
        .slider-left{
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            @include mobileXR{
                align-items: center;
            }
            .slider-h1{
                font-family: 'Anton', sans-serif;
                color: rgb(21, 21, 65);
                font-size: 3.2rem;
                letter-spacing: 1.5px;
                font-weight: bolder;
                @include mobileXR{
                    font-size: 2.1rem;
                    text-align: center;
                }
            }

            .slider-desc{
                font-size: 1rem;
                letter-spacing: .9px;
                font-weight: 300;
                color: rgb(73, 72, 72);
                line-height: 1.5;
                padding: 30px 0;
                text-align: justify;
                strong{
                    color: rgb(21, 21, 65);
                    font-weight: 800;
                }
                @include mobileXR{
                    font-size: .9rem;
                }
            }
            .slider-rows-btn{
                display: flex;
                align-items: center;
                gap: 20px;
                .slider-btn{
                    padding: 8px 12px;
                    border : 2px solid rgb(21, 21, 65);
                    color: rgb(21, 21, 65);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    font-size: .9rem;
                    transition: .5s;
                    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.151);
                    @include mobileXR{
                        padding: 6px 10px;
                        font-size: .8rem;
                    }
                    &:hover{
                        background: rgb(21, 21, 65);
                        color: #fff;
                    }
                    .icons-btn{
                        width: 20px;
                        margin-left: 5px;
                    }
                }
                .slider-diff{
                    transition: .5s;
                    background: rgb(21, 21, 65);
                    color: #fff;
                    &:hover{
                        border : 2px solid rgb(21, 21, 65);
                        color: rgb(21, 21, 65);
                        background: #fff;
                    }
                }
            }
        }
        .slider-right{
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            @include mobile{
                display: none;
            }
            .slider-img{
                width: 90%;
                object-fit: cover;
            }
        }
    }
}